// Required defaults

.o-conceal-header,
.u-conceal-header {
  --conceal-header-background-local: var(--conceal-header-background, var(--local-background-color, white));
  --conceal-header-body-background-local: var(--conceal-header-body-background, white);
  // Fallback if JavaScript calulcation is not working
  --conceal-header-height-local: var(--conceal-header-height, var(--conceal-header-fallback-height));
}

.o-conceal-header {
  position: fixed;
  top: 0;
  height: var(--conceal-header-height-local);
  width: 100%;
  background-color: var(--conceal-header-background-local);
}

// Utility class that has to be applied on body tag
.u-conceal-header {
  // Body top padding has to match header height
  padding-top: var(--conceal-header-height-local);
  // Body background should be the same as header background
  background-color: var(--conceal-header-background-local);

  // Whole page content has to be wrapped in an element
  > *:not(noscript):first-child + *,
  > noscript:first-child + * + * {
    // Page content has to be above header
    position: relative;
    z-index: 1;
    // Page content has to have background to hide the header
    background-color: var(--conceal-header-body-background-local);
    // Force full height
    flex-grow: 1;
  }

  &--drop-shadow {

    > *:not(noscript):first-child + *,
    > noscript:first-child + * + * {
      box-shadow: 0 0 1rem 1rem color('suppressed', 'black');
    }

  }

  // Forces conceal header even if content is not higher than viewport
  &--force {
    display: flex;
    flex-direction: column;
    min-height: calc(100% + var(--conceal-header-height-local));
  }

}
