<ul class="o-stack o-stack--horizontal">
  <li><button class="u-ignore-baseline">button</button></li>
  <li><button class="u-ignore-baseline c-button--muted">button m</button></li>
  <li><input type="submit" value="submit" class="u-ignore-baseline"></li>
  <li><input type="submit" value="submit m" class="u-ignore-baseline c-button--muted"></li>
  <li><a href="" class="c-button u-ignore-baseline">link</a></li>
  <li><a href="" class="c-button c-button--muted u-ignore-baseline">link m</a></li>
</ul>
