{% comment %}
  props:
    - height [string: margin]|[number: rem]
{% endcomment %}

{% comment %}
  Preprocess passed classes and styles
{% endcomment %}

{% assign classes = '' | split: '' %}
{% if include.pass_classes.first %}
  {% assign classes = classes | concat: include.pass_classes %}
{% elsif include.pass_classes and include.pass_classes.size != 0 %}
  {% assign passed_classes = include.pass_classes | split: ' ' %}
  {% assign classes = classes | concat: passed_classes %}
{% endif %}

{% assign styles = '' | split: '' %}
{% if include.pass_styles.first %}
  {% assign styles = styles | concat: include.pass_styles %}
{% elsif include.pass_styles and include.pass_styles.size != 0 %}
  {% assign passed_styles = include.pass_styles | split: ';' %}
  {% for passed_style in passed_styles %}
    {% assign appended = passed_style | append: ';' %}
    {% assign styles = styles | push: appended %}
  {% endfor %}
{% endif %}

{% comment %}
  Process props
{% endcomment %}

{% if include.props.height == 'margin' %}
  {% assign classes = classes | push: 'c-horizontal-logo--margin-high' %}
{% elsif include.props.height %}
  {% assign height = '--horizontal-logo-height: ' | append: include.props.height | append: 'rem;' %}
  {% assign styles = styles | push: height %}
{% endif %}

{% comment %}
  Merge classes and styles
{% endcomment %}

{% assign classes = classes | push: 'c-horizontal-logo' %}

{% comment %}
  HTML
{% endcomment %}

<div
  {% if classes.size > 0 %}
    class="{{ classes | join: ' ' | strip }}"
  {% endif %}
  {% if styles.size > 0 %}
    style="{{ styles | join: ' ' | strip }}"
  {% endif %}
>
  {% include components/global/horizontal-logo/_logo.html %}
</div>

{% comment %}
  Cleanup variables
{% endcomment %}

{% assign classes = nil %}
{% assign styles = nil %}

{% assign height = nil %}
