$margins: (
  default: 'larger',
  large: 'largest'
);

$paddings: $margins;

$border-width: round(strip-unit(unit(map-deep-get($margins, 'default')) / 4) * strip-unit(map-deep-get($baseline-unit, 'default')) + 0px);
$divider-width: round($border-width / 4);
