$body-font-family: 'roboto';

$responsive-body: (
  small: (
    smaller: (
      font-size('small', false, $body-font-family)
    ),
    small: (
      font-size('small', false, $body-font-family)
    ),
    default: (
      font-size('small', false, $body-font-family)
    )
  ),
  default: (
    smaller: (
      font-size('default', false, $body-font-family)
    ),
    small: (
      font-size('default', false, $body-font-family)
    ),
    default: (
      font-size('default', false, $body-font-family)
    )
  )
);

$responsive-headings: (
  h1: (
    smaller: (
      font-size('largest', false, 'futura')
    ),
    small: (
      font-size('largest', false, 'futura')
    ),
    default: (
      font-size('largest', false, 'futura')
    )    
  ),
  h2: (
    smaller: (
      font-size('largest', false, 'roboto')
    ),
    small: (
      font-size('largest', false, 'roboto')
    ),
    default: (
      font-size('largest', false, 'roboto')
    )    
  ),
  h3: (
    smaller: (
      font-size('larger', false, 'roboto')
    ),
    small: (
      font-size('larger', false, 'roboto')
    ),
    default: (
      font-size('larger', false, 'roboto')
    )
  ),
  h4: (
    smaller: (
      font-size('large', false, 'roboto')
    ),
    small: (
      font-size('large', false, 'roboto')
    ),
    default: (
      font-size('large', false, 'roboto')
    )
  ),
  h5: (
    smaller: (
      font-size('default', false, 'roboto')
    ),
    small: (
      font-size('default', false, 'roboto')
    ),
    default: (
      font-size('default', false, 'roboto')
    )
  ),
  h6: (
    smaller: (
      font-size('default', false, 'roboto')
    ),
    small: (
      font-size('default', false, 'roboto')
    ),
    default: (
      font-size('default', false, 'roboto')
    )    
  )
);
