$modular-scale: (
  smaller: (
    base: 1,
    ratio: 1.4
  ),
  small: (
    base: 1,
    ratio: 1.4
  ),
  default: (
    base: 1,
    ratio: 1.4
  ),
  large: (
    base: 1,
    ratio: 1.4
  )
);
