$modular-scale: (
  smaller: (
    base: 2,
    ratio: 1.4
  ),
  small: (
    base: 2,
    ratio: 1.4
  ),
  default: (
    base: 1.5,
    ratio: 1.4
  ),
  large: (
    base: 1.5,
    ratio: 1.4
  )
);
