@each $color-pair in map-keys(flat-map($color-pairs)) {

  %#{$color-pair} {
    background-color: rgba(nth(map-deep-get(flat-map($color-pairs), $color-pair), 1), map-deep-get($transparency-levels, 'opaque')) !important;
    --local-background-color: #{rgba(nth(map-deep-get(flat-map($color-pairs), $color-pair), 1), map-deep-get($transparency-levels, 'opaque'))} !important;
    color: rgba(nth(map-deep-get(flat-map($color-pairs), $color-pair), 2), map-deep-get($transparency-levels, 'default')) !important;
    --local-color: #{rgba(nth(map-deep-get(flat-map($color-pairs), $color-pair), 2), map-deep-get($transparency-levels, 'default'))} !important;
  }

  %#{$color-pair}--inverse {
    background-color: rgba(nth(map-deep-get(flat-map($color-pairs), $color-pair), 2), map-deep-get($transparency-levels, 'opaque')) !important;
    --local-background-color: #{rgba(nth(map-deep-get(flat-map($color-pairs), $color-pair), 2), map-deep-get($transparency-levels, 'opaque'))} !important;
    color: rgba(nth(map-deep-get(flat-map($color-pairs), $color-pair), 1), map-deep-get($transparency-levels, 'default')) !important;
    --local-color: #{rgba(nth(map-deep-get(flat-map($color-pairs), $color-pair), 1), map-deep-get($transparency-levels, 'default'))} !important;
  }

  %#{$color-pair}--fill {
    fill: rgba(nth(map-deep-get(flat-map($color-pairs), $color-pair), 2), map-deep-get($transparency-levels, 'default')) !important;
  }

  %#{$color-pair}--fill-inverse {
    fill: rgba(nth(map-deep-get(flat-map($color-pairs), $color-pair), 1), map-deep-get($transparency-levels, 'default')) !important;
  }

  .u-color-pair--#{$color-pair} {
    @extend %#{$color-pair};

    @at-root a#{&},
    &.u-color-pair--reactive {
      cursor: pointer;
      transition-property: color, background-color;
      transition-duration: map-deep-get($durations, 'shorter');
      transition-timing-function: ease-in;
  
      &:hover,
      &:focus {
        outline: none;
        @extend %#{$color-pair}--inverse;
      }
  
      &:active {
        transition-duration: map-deep-get($durations, 'shortest');
        @extend %brand-darkest-blue;
      }
  
    }

    &.u-color-pair--inverse {
      @extend %#{$color-pair}--inverse;

      @at-root a#{&},
      &.u-color-pair--reactive {
    
        &:hover,
        &:focus {
          @extend %#{$color-pair};
        }
    
        &:active {
          @extend %brand-darkest-blue;
        }
    
      }

    }

    &.u-color-pair--fill {

      &,
      svg {
        @extend %#{$color-pair}--fill;
      }

      @at-root a#{&},
      &.u-color-pair--reactive {
    
        &:hover,
        &:focus {
          
          &,
          svg {
            @extend %#{$color-pair}--fill-inverse;
          }

        }
    
        &:active {
          
          &,
          svg {
            @extend %brand-darkest-blue--fill;
          }

        }
    
      }

      &.u-color-pair--inverse {
        
        &,
        svg {
          @extend %#{$color-pair}--fill-inverse;
        }

        @at-root a#{&},
        &.u-color-pair--reactive {
      
          &:hover,
          &:focus {
            
            &,
            svg {
              @extend %#{$color-pair}--fill;
            }

          }
      
          &:active {
            
            &,
            svg {
              @extend %brand-darkest-blue--fill;
            }

          }
      
        }
      
      }

    }

  }

}
