.u-margin {

  &--none {
    margin: 0;
  }

  &-top--none {
    margin-top: 0;
  }

  &-right--none {
    margin-right: 0;
  }

  &-bottom--none {
    margin-bottom: 0;
  }

  &-left--none {
    margin-left: 0;
  }

}
