.u-margin {

  &--none {
    margin: 0 !important;
    --local-margin: 0 !important;
  }

  &-top--none {
    margin-top: 0 !important;
    --local-margin-top: 0 !important;
  }

  &-right--none {
    margin-right: 0 !important;
    --local-margin-right: 0 !important;
  }

  &-bottom--none {
    margin-bottom: 0 !important;
    --local-margin-bottom: 0 !important;
  }

  &-left--none {
    margin-left: 0 !important;
    --local-margin-left: 0 !important;
  }

}
