.u-padding {

  &--none {
    padding: 0;
    --local-padding: 0;
  }

  &-top--none {
    padding-top: 0;
    --local-padding-top: 0;
  }

  &-right--none {
    padding-right: 0;
    --local-padding-right: 0;
  }

  &-bottom--none {
    padding-bottom: 0;
    --local-padding-bottom: 0;
  }

  &-left--none {
    padding-left: 0;
    --local-padding-left: 0;
  }

}
