@each $size, $value in $margins {
  
  $class-suffix: null;

  @if $size != 'default' {
    $class-suffix: '--'+$size;
  }

  .u-responsive-margin {
    &#{$class-suffix} {
      margin: var(--responsive-margin#{$class-suffix}) !important;
      --local-margin: var(--responsive-margin#{$class-suffix}) !important;
    }

    &-top#{$class-suffix} {
      margin-top: var(--responsive-margin#{$class-suffix}) !important;
      --local-margin-top: var(--responsive-margin#{$class-suffix}) !important;
    }

    &-right#{$class-suffix} {
      margin-right: var(--responsive-margin#{$class-suffix}) !important;
      --local-margin-right: var(--responsive-margin#{$class-suffix}) !important;
    }

    &-bottom#{$class-suffix} {
      margin-bottom: var(--responsive-margin#{$class-suffix}) !important;
      --local-margin-bottom: var(--responsive-margin#{$class-suffix}) !important;
    }

    &-left#{$class-suffix} {
      margin-left: var(--responsive-margin#{$class-suffix}) !important;
      --local-margin-left: var(--responsive-margin#{$class-suffix}) !important;
    }

  }
  
}
