---
layout: global/conceal-header-plus-reveal-footer
reveal_footer:
  props:
    content:
      include:
        path: components/global/horizontal-logo/default.html
  pass_classes: u-responsive-padding--large u-color-pair--brand-pale-blue-1
body_inline_styles:
  - '--reveal-footer-fallback-height: 4rem;'
  - '--reveal-footer-background: #0866d8;'
  - '--conceal-header-fallback-height: 2rem;'
  - '--conceal-header-background: #001221;'
conceal_header:
  text: toto je header
  pass_classes: u-responsive-padding u-color-pair--brand-darkest-blue
---
{{ content }}
